*{margin:0; padding:0;}
.slideshow{
    background:#424242;
}

header{padding-bottom: 25px;
    margin-top: 10px;
    margin-bottom:5px;
    display: flex;
    flex-wrap:nowrap;
}


#slogan{
    position: relative;
    display:inline-block;
    font-size:30px;
    padding: 22px 0px 0px 0px;
    margin-bottom: 0px;
    color: black;
    text-shadow: 3px 3px 1px 1px gray;
    font-family:"궁서체";
    width:2000px;
}

#slogan p {
    text-align:center;
}

#search{
    margin:17px;
}

nav{
    width:100%;
    display:flex;
    justify-content:center;
    position:relative;
    background: #424242;
    font-family:"궁서체";
}

#main-menu, #sub-menu{
    margin:0;
    padding:0;
    list-style:none;
}

#main-menu > li{
    float: left;
    position: relative;
}

#main-menu > li > a{
    font-size: 1rem;
    color:rgba(255,255,255,0.85);
    text-align:center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display:block;
    padding:12px 36px;
    border-right:1px solid rgba(0,0,0,0.15);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > a{
    border-left:1px solid rgba(0,0,0,0.15);
}

#sub-menu{
    position:absolute;
    background:#000000;
    opacity:0;
    visibility:hidden;
    transition: all 0.15s ease-in;
}

#sub-menu > li{
    padding:16px 28px;
    border-bottom:1px solid rgb(255, 255, 255);
    width: 150px;
}

#sub-menu > li > a{
    color: rgba(255,255,255,0.6);
    text-decoration:none;
}

#main-menu > li:hover #sub-menu{
    opacity:1;
    visibility:visible;
}